.gallery_container {
  position: relative;
}
.thumbnail_container {
  float: left;
}
.preview_container {
  position: relative;
  padding: 5px;
  width: 300px;
  height: 300px;
  overflow: auto;
}
.preview_container img {
  width: 270px;
  height: auto;
  overflow: auto;
}
.thumbnail img {
  border: 1px solid white;
  margin: 0 5px 5px 0;
  width: 100px;
  height: auto;
  overflow: auto;
  padding: 5px;
}
.thumbnail:hover {
  background-color: green;
}
.thumbnail .selected img {
  border: 1px solid red;
}
